@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$font: 'Barlow Semi Condensed', sans-serif;
$background-color: hsl(210, 46%, 95%);

body {
    background-color: $background-color;
    font-family     : $font;
}